@charset "utf-8";
<!-- user_editpassword/user_editpassword.php -->
.user_editpassword_container{

}
.user_editpassword_table{

}
.user_editpassword_td_title{

}
.user_editpassword_td_box{

}
.user_editpassword_tr{

}
.user_editpassword_button{
	font-size: 12px;
	border:1px solid #C9E3F0;
	background-color:#ffffff;
}
.user_editpassword_box{

}
