@charset "utf-8";
<!-- user_editprofile/user_editprofile.php -->
.user_editprofile_container{

}
.user_editprofile_table{

}
.user_editprofile_td_title{

}
.user_editprofile_td_box{

}
.user_editprofile_tr{

}
.user_editprofile_button{
	font-size: 12px;
	border:1px solid #C9E3F0;
	background-color:#ffffff;
}
.user_editprofile_box{

}
