<!--<?php
echo <<<EOT
-->
<div class="foot">
<div class="footnav"> |
<!--
EOT;
foreach($navfoot_list as $key=>$val){
echo <<<EOT
-->
<a href="$val[e_url]" $val[new_windows]>$val[e_name]</a> |
<!--
EOT;
}
echo <<<EOT
-->
</div>
<div class="foottext">
<!--
EOT;
if($met_c_footright!=""){
echo <<<EOT
-->
$met_e_footright
<!--
EOT;
}
if($met_c_footaddress!=""){
echo <<<EOT
-->
<br />$met_e_footaddress
<!--
EOT;
}
if($met_c_foottel!=""){
echo <<<EOT
-->
<br />$met_e_foottel
<!--
EOT;
}
if($met_c_footother!=""){
echo <<<EOT
-->
<br />$met_e_footother
<!--
EOT;
}
echo <<<EOT
-->
<br />
<!--
EOT;
if($met_c_foottext!=""){
echo <<<EOT
-->
<br />$met_e_foottext
<!--
EOT;
}
echo <<<EOT
-->

</div>
</div>
</body>
</html>

<!--
EOT;
?>-->