@charset "utf-8";
<!-- login/com/mod_login.php -->
.login_container{
	text-align:center;
}
.login_button{
	font-size: 12px;
	border:1px solid #C9E3F0;
	background-color:#ffffff;
}
.login_input_box{
	width:120px;
}
.login_com_mod_login{
	width:100%;
}
.login_com_mod_login_Title{
	width:100%;
	font-weight:bold;
	font-size:14px;
}
.login_com_mod_login_Box{
	width:100%;
	padding-top:5px;
}
.login_com_mod_login_Text{
	width:100%;
}
.login_com_mod_login_line{
	width:100%;
	background-image:url(../images/line.gif);
	height:1px;
	font-size:1px;
}
