* { margin: 0; padding: 0; }

html {
	background-color: #f9f9f9;
}

body {
	border-top-width: 30px;
	border-top-style: solid;
	font: 12px "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
}

form {
	margin-left: 8px;
	padding: 16px 16px 40px 16px;
	font-weight: normal;
	background: #fff;
	border: 1px solid #e5e5e5;
}

#login form .submit input {
	border-top: 1px solid #298EBE;
	border-left: 1px solid #298EBE;
	border-right: 1px solid #071B23;
	border-bottom: 1px solid #071B23;
	background:#247AA3;
	color:#fff;
	vertical-align:middle;
	font:12px "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
	padding: 5px 10px;
	margin-top: -3px;
}

#login form p {
	margin-bottom: 0;
}

label {
	color: #777;
	font-size: 13px;
}

#login form .submit { float: right; }

h1 a {
	background: url(logo-login.gif) no-repeat top center;
	width: 326px;
	height: 67px;
	text-indent: -9999px;
	overflow: hidden;
	padding-bottom: 15px;
	display: block;
}

#backtoblog a {
	position: absolute;
	top: 7px;
	left: 15px;
	text-decoration: none;
}

#backtoblog a:hover {
	color: #fff;
}

#backtoblog a {
	color: #ccc;
}

#login { width: 320px; margin: 7em auto; }

#login_result {
	margin: 0 0 16px 8px;
	border-width: 1px;
	border-style: solid;
	padding: 12px;
	background-color: #ffebe8;
	border-color: #c00;
}

#username, #password {
	font-size: 24px;
	width: 97%;
	padding: 3px;
	margin-top: 2px;
	margin-right: 6px;
	margin-bottom: 16px;
	border: 1px solid #e5e5e5;
	background: #fbfbfb;
}