@charset "utf-8";
<!-- user_product_order/user_product_order.php -->
.user_product_order_container{

}

.user_product_order_table{

}
.user_product_order_td_title{

}
.user_product_order_td_box{

}
.user_product_order_tr{

}
.user_product_order_button{
	font-size: 12px;
	border:1px solid #C9E3F0;
	background-color:#ffffff;
}
.user_product_order_box{

}
