@charset "utf-8";
<!-- register/register.php -->
.register_container{

}
.register_table{

}
.register_td_title{

}
.register_td_box{

}
.register_tr{

}
.register_button{
	font-size: 12px;
	border:1px solid #C9E3F0;
	background-color:#ffffff;
}
.register_box{

}
