@charset "utf-8";
<!-- product_checkout_success/product_checkout_success.php -->
.product_checkout_success_container{
	width:100%;
}
<!-- product_checkout_success/product_checkout_success.php -->
.product_checkout_success_container{

}
.product_checkout_success_table{

}
.product_checkout_success_td_title{

}
.product_checkout_success_td_box{

}
.product_checkout_success_tr{

}
.product_checkout_success_button{
	font-size: 12px;
	border:1px solid #C9E3F0;
	background-color:#ffffff;
}
.product_checkout_success_box{

}

