body{
	margin:0px 0px 0px 0px;
}
.topdiv{
	width:100%;
	height:89px;
	padding-bottom:5px;
	border-bottom:4px solid #0788C2;
}
.bottomdiv{
	width:100%;
	height:34px;
	border-top:3px solid #0788C2;
}
.leftdiv{
	width:123px;
	height:100%;
	border-left:1px solid #0788C2;
	padding-top:6px;
}
.lefttable{
	padding-top:10px;
	text-align:center;
}
.leftmenu{
	height:26px;
	border:1px solid #0788C2;
	background-image:url(../image/menubg_zhaihao_02.gif);
}
#leftmenu a:link{
	font:"ו";
	font-size:12px;
	color:#676566;
	text-decoration:none;
}
#leftmenu a:visited{
	font:"ו";
	font-size:12px;
	color:#676566;
	text-decoration:none;
}
#leftmenu a:hover{
	font:"ו";
	font-size:12px;
	color:#676566;
	text-decoration:none;
}
.middlediv{
	width:157px;
	height:100%;
	border-left:4px solid #0788C2;
	border-right:4px solid #0788C2;
}
.tubiao{
	font-size:12px;
	color:#666666;
}
.tubiao a:visited{ color: #666666; text-decoration: none }
.tubiao a:hover {color: #666666;text-decoration: underline}
.tubiao a:link { color: #666666; text-decoration: none }


